@charset "UTF-8";
/* Wikirace Styles */

@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

html {
    position: relative;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}

a, a:visited, a:hover, a:active {
    color: #F21E24;
    text-decoration: none;

}

header {
    display: flex;
    flex-direction: row;
    padding: 30px;
    background-color: #F21E24;
}

container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 30px;
}

main {
    flex-grow: 1;
    margin: 30px;
    font-size: 16px;
}

sidebar {
    min-width: 260px;
    flex-direction: row;
    margin: 30px auto;
}

footer {
    position: absolute;
    bottom: 0;
    height: 120px;
    width: 100%;
    border-top: solid 1px #CCCCCC;
    text-align: center;
    overflow: hidden;
}

.logo {
    flex-grow: 1;
}

.social {
    width: 200px;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: center;
    width: 100%;
}

.form > div {
    flex-grow: 1;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    margin: 20px;
}

#mc_embed_signup {
    clear: left;
    width: 100%;
    font-size: 16px;
}