{% extends "layout.html" %}
{% block content %}
<main>
  <h1>Wikipedia Degrees of Separation</h1>
  <h3>From POINT A to POINT B</h3>
  <p>Find the shortest path between two Wikipedia pages by submitting two keywords. We'll calculate the shortest path via wikipedia links followed from the Start keyword's Wikipedia page to the End keyword's Wikipedia page.</p>
  <p><strong>Example of 3 degrees of separation</strong><br>
      <a href="https://en.wikipedia.org/wiki/Quokka" target="_blank">Quokka</a> -&gt; 
      <a href="https://en.wikipedia.org/wiki/The_Daily_Telegraph" target="_blank">The Daily Telegraph</a> -&gt; 
      <a href="https://en.wikipedia.org/wiki/Bill_Clinton" target="_blank">Bill Clinton</a> -&gt; 
      <a href="https://en.wikipedia.org/wiki/George_Washington" target="_blank">George Washington</a>
      </p>
  <form action="/" method="POST">
    <div class="form center">
      <div>
	<h3>START</h3>
	<input type="text"
	       placeholder="ex. 'Cucumber'"
	       name="PAGE_ONE" required>
      </div>
      <div>
	<h3>END</h3>
	<input type="text"
	       placeholder="ex. 'Continent'"
	       name="PAGE_TWO" required>
      </div>
    </div>
    <div class="center"><input
			  class="button"
			  type="submit"
			  value="Search Wiki Links"></div>
  </form>
  <h3>Please allow 30 seconds for deep searches:</h3>
  <p class="timer">00:00:30</p>
</main>
{% endblock %}
