{% extends "layout.html" %}
{% block content %}
<main>
  <h1>From POINT A to POINT B</h1>
  <p>Find the shortest path between two Wikipedia pages by submitting two words to search. We'll calculate the shortest path via links followed from the Start keyword to the End keyword.</p>
  <form action="/" method="POST">
    <div class="form center">
      <div>
	<h3>START</h3>
	<input type="text" name="PAGE_ONE">
      </div>
      <div>
	<h3>END</h3>
	<input type="text" name="PAGE_TWO">
      </div>
    </div>
    <div class="center"><input class="button" type="submit" value="Submit"></div>
  </form>
</main>
{% endblock %}
