# systemd config file
# reload daemon: $ sudo systemctl daemon-reload
# start service: $ sudo systemctl start nautilus.service

[Unit]
Description=gunicorn application server running nautilus wikirace

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/github.com/Nautilus-Wiki-Race/nautilus
ExecStart=/usr/local/bin/gunicorn --bind 127.0.0.1:8001 wsgi.wsgi_nautilus:nautilus.app
TimeoutSec=30
Restart=on-failure
RestartSec=30
StartLimitInterval=350
StartLimitBurst=10

[Install]
WantedBy=multi-user.target
